/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: .9rem;
}

/* GLOBAL STYLES */

/* CUSTOM STYLES */

.show {
  display: unset;
}

.hide {
  display: none;
}

.center {
  display: block;
  margin: 5% auto;
}

/* CUSTOM STYLES */

/* FIXED NAVIGATION */

nav {
  position: fixed;
  background-color: gold;
  text-align: center;
  padding: 2% 0;
  bottom: 0;
  width: 100%;
}

nav ul {
  list-style: none;
}

.home-btn {
  text-decoration: none;
}

/* FIXED NAVIGATION */

/* HOMEPAGE */

.home {
  padding: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.home h1 {
  text-align: center;
}

.home>div {
  margin: 10% 0;
}

.home>p span {
  letter-spacing: 0.5em;
}

.home>p {
  color: #333;
  font-size: .7rem;
  text-align: center;
}

/* HOMEPAGE */

/* ALL BEERS PAGE */

.all-beers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5rem;
}

.all-beers img {
  height: 25vh;
}

.all-beers>article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 12rem;
  grid-template-columns: 10rem 12rem;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7% 0;
  margin: 0 3%;
  border-bottom: 1px solid #333;
}

.all-beers>article>div>p {
  margin: .7rem 0;
}

.all-beers>article>div>h3, .beer-card>div>h3 {
  color: #FFCA41;
}

.all-beers>article>div {
  -ms-grid-column-align: start;
  justify-self: start;
}

/* ALL BEERS PAGE */

/* BEER SINGLE CARD */

.beer-card {
  padding: 7%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 37vh 1rem 40vh;
  grid-template-rows: 37vh 40vh;
  grid-row-gap: 1rem;
  word-break: break-word;
}

.beer-card>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.beer-card>*:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.beer-card img, .home img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  margin-bottom: 7%;
  -ms-grid-column-align: center;
  justify-self: center;
}

.home img {
  margin-bottom: 0;
  max-height: 35vh;
}

.beer-card>div>div>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: .9rem;
  font-weight: 400;
  color: #333;
  opacity: 50%;
}

.beer-card>div>div {
  padding: .9rem 0;
}

.beer-card>div>p {
  margin: .4rem 0 .9rem;
  height: 16vh;
  overflow-y: scroll;
}

.arrow-back {
  background-color: #FFCA41;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  position: fixed;
  bottom: 5.2rem;
  right: 1.3rem;
}

/* BEER SINGLE CARD */

/* BEERS SELECT */

#beers {
  background-color: gold;
  font-family: 'Roboto Slab', serif;
}

/* BEERS SELECT */

/* BEER FORM */

form {
  width: 100%;
  margin: 5% auto;
  text-align: center;
  position: relative;
}

fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  margin: 5% auto;
}

input, textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

form button, form+button {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  padding: 4px 20px;
  margin-top: .6em;
  background-color: gold;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

form button:hover, form+button:hover {
  background-color: rgb(240, 205, 6);
}

/* BEER FORM */

/* COLLAPSIBLE */

.Collapsible {
  background-color: white;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 14px;
  background: gold;
  color: white;
}

.Collapsible__trigger:after {
  content: '🍻';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.Collapsible__trigger.is-open:after {
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}

/* COLLAPSIBLE */

/* MEDIA QUERIES */

@media (min-width: 575.98px) {
  .home article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
  }
  .home article p {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}