* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: gold;
  text-align: center;
  padding: 2% 0;
}

nav ul {
  list-style: none;
}

.home-btn {
  text-decoration: none;
}

/* .App {
  text-align: center;
} */

.all-beers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-beers img {
  height: 30vh;
}

.all-beers>article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 7% 5%;
  margin: 0 3%;
  /* background-color: green; */
  border-bottom: 1px solid #333333;
  border: 5%;
}

.all-beers>article>div>p {
  line-height: 2.5rem;
}